<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erfassung Zielgewicht</title>
</head>
<body>
<h1>Erfassung Zielgewicht</h1>
<br><br><br>
<a>Bitte gib dein Zielgewicht ein:</a>
<form method="POST">
    <input type="text" name="Gewicht" placeholder="Gewicht in kg">
    <button type="submit">bestätigen</button>
</form>
<br><br><br><br>
<a>Welches Wochenziel willst du dir setzten?:</a>
<form method="POST">
    <select> <!--Quelle: https://www.edv-lehrgang.de/auswahlmenue-dropdownliste-in-html/-->
  <option>0.2 kg</option>
  <option>0.5 kg</option>
  <option>0.8 kg</option>
        <option>Gewicht halten</option>
</select>
    <button type="submit">bestätigen</button>
</body>
</html>
