<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erfassung Training</title>
</head>
<h1>Erfassung Training</h1>
<body>

<a>Ausdauer</a>
<br>
<select> <!--Quelle: https://www.edv-lehrgang.de/auswahlmenue-dropdownliste-in-html/-->
  <option>Joggen</option>
  <option>Schwimmen</option>
  <option>Radfahren</option>
  <option>Andrere</option>
</select>

<br><br><br>
<a>Kraft</a>
<br>
<select> <!--Quelle: https://www.edv-lehrgang.de/auswahlmenue-dropdownliste-in-html/-->
  <option>Gym</option>
  <option>Cross Fit</option>
  <option>Olimpic Lifting</option>
  <option>Andrere</option>
</select>

<br><br><br>
<a>Zeit</a>
<br>
<select> <!--Quelle: https://www.edv-lehrgang.de/auswahlmenue-dropdownliste-in-html/-->
  <option>30 min</option>
  <option>60 min</option>
  <option>90 min</option>
  <option>120min <</option>
</select>

<br><br><br>

<button type="submit">bestätigen</button>


</body>
</html>
