<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erfassung Ernährung</title>
</head>
<body>

<h1>Erfassung Ernährung</h1>
<br><br><br>

<form method="POST">

    <a>Mahlzeit:</a>
    <select> <!--Quelle: https://www.edv-lehrgang.de/auswahlmenue-dropdownliste-in-html/-->
  <option>Frühstück</option>
  <option>Mittagessen</option>
  <option>Abendessen</option>
  <option>Snack</option>
</select>
<br><br>

<a>Lebensmittel / Produkt:</a>
    <input type="text" name="Gewicht" placeholder="Produkt">
<br><br>

 <a>Menge in Gramm:</a>
    <input type="text" name="Gewicht" placeholder="Menge in Gramm">
<br><br><br>

 <button type="submit">bestätigen</button>

</body>
</html>
