<!DOCTYPE html> <!--ganze Seite Quelle:https://getbootstrap.com/docs/5.1/examples/headers/, stand 12.05.22-->
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

<main>
    <h1 class="visually-hidden">Headers examples</h1>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-4" >MyBody Fitnessapp</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{url_for('profile')}}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{url_for('fortschritt')}}" class="nav-link">Gewicht</a></li>
                <li class="nav-item"><a href="{{url_for('ernaehrung')}}" class="nav-link">Ernährung</a></li>
                <li class="nav-item"><a href={{url_for('erfassungwasser')}} class="nav-link active" aria-current="page">Wasser</a></li>
                <li class="nav-item"><a href={{url_for('erfassungtraining')}} class="nav-link">Training</a></li>
                <li class="nav-item"><a href={{url_for('tagebuch')}} class="nav-link">Tagebuch</a></li>
            </ul>
        </header>
<h1>Erfassung Wasser</h1>
<body>
<a>Wieviel Wasser hast du getrunken?</a>
<br><br><br>
<button type="submit">+ 250 ml</button>   <button type="submit">+ 500 ml</button>     <button type="submit">+ 1000 ml</button>
<br><br><br>

<a>Wasser ist die Quelle des Lebens!</a>
<br><br><br>
<a>Heute getrunkenes Wasser: {XY}, verbleibend {YZ}</a>

</body>
</html>
