<!DOCTYPE html> <!--ganze Seite Quelle:https://getbootstrap.com/docs/5.1/examples/headers/, stand 12.05.22-->
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

<main>
    <h1 class="visually-hidden">Headers examples</h1>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-4">MyBody Fitnessapp</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{url_for('profile')}}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{url_for('fortschritt')}}" class="nav-link">Gewicht</a></li>
                <li class="nav-item"><a href="{{url_for('ernaehrung')}}" class="nav-link active"
                                        aria-current="page">Ernährung</a></li>
            </ul>
        </header>
        <body>

        <form method="POST">

            <input type="text" name="age" placeholder="Wie alt bist du?" value="{{ age }}">
            <select name="gender"> <!--Quelle: https://www.edv-lehrgang.de/auswahlmenue-dropdownliste-in-html/-->

                <option{% if gender == 'male' %} selected{% endif %}>male</option>
                <option{% if gender == 'female' %} selected{% endif %}>female</option>

            </select>
            <input type="text" name="weight" placeholder="Wie viele Kg bist du?" value="{{ weight }}">
            <input type="text" name="height" placeholder="Wie gross bist du in cm?" value="{{ height }}">
            <br><br><br>
            <a>Dein Grundumsatz (BMR) in Kalorien pro Tag, beträgt:</a> {{ bmr }}
            <br><br>

            <br><br><br>
            <a>Was ist dein Aktivitätslevel? none, light, moderate, heavy, oder extreme?"<a>
                <select name="activity"> <!--Quelle: https://www.edv-lehrgang.de/auswahlmenue-dropdownliste-in-html/-->

                    <option{% if activity_level == 'none' %} selected{% endif %}>none</option>
                    <option{% if activity_level == 'light' %} selected{% endif %}>light</option>
                    <option{% if activity_level == 'moderate' %} selected{% endif %}>moderate</option>
                    <option{% if activity_level == 'heavy' %} selected{% endif %}>heavy</option>
                    <option{% if activity_level == 'extreme' %} selected{% endif %}>extreme</option>

                </select>
                <br><br><br>
                <a>Dein Grundumsatz (BMR) inklusive deiner Aktivität in Kalorien pro Tag, beträgt:</a> {{
                calculated_activity }}
                <br><br>

                <br><br><br>
                <a>Willst du Abnehmen (lose), dein Gewicht halten (maintain), oder Zunehmen (gain)?"</a>
                <select name="goals">
                    <!--Quelle: https://www.edv-lehrgang.de/auswahlmenue-dropdownliste-in-html/-->

                    <option{% if goals == 'lose' %} selected{% endif %}>lose</option>
                    <option{% if goals == 'maintain' %} selected{% endif %}>maintain</option>
                    <option{% if goals == 'gain' %} selected{% endif %}>gain</option>

                </select>

                <br><br><br>
                <a>Um dein Ziel zu erreichen beträgt dein Kalorienumsatz:</a> {{ calories }}
                <br><br>
                <button type="submit">speichern</button>
        </form>
        </body>
    </div>
</main>
</html>
