<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>
</head>
<h1>Schön, dass du da bist {Name}</h1>
<body>
<a>Heute verbleibende Kalorien:{XY}</a>
<br><br><br>
<button type="submit">Erfassung Gewicht</button>   <button type="submit">Erfassung Ernährung</button>     <button type="submit">Erfassung Wasser</button>
<br><br><br>
<button type="submit">Erfassung Zielgewicht</button>    <button type="submit">Erfassung Training</button>      <button type="submit">Erfassung Tagebuch</button>
<br><br><br>
<a>"Der Zweck des Lebens ist froh zu sein!" Dalai Lama</a>
</body>
</html>

