<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tagebuch</title>
</head>
<h1>Tagebuch</h1>
<body>
<textarea cols="50" rows="10">Wie geht es dir heute?</textarea> <!--https://wiki.selfhtml.org/wiki/HTML/Elemente/textarea -->

<br><br><br>

<select> <!--Quelle: https://www.edv-lehrgang.de/auswahlmenue-dropdownliste-in-html/-->

  <option>Heute</option>
  <option>7 Tage</option>
  <option>4 Wochen</option>
  <option>6 Monate</option>
  <option>1 Jahr</option>

 </select>
</body>
</html>
